include ./includes/header.jade

// Hidden input para mandar valores para script.js
input#eventos(type='hidden', value= JSON.stringify(eventos))

#map.container-fluid.h-100

script(src="/javascripts/script.js")
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCM81YKuvRlAPbYKcn_DreKTmlx8_dnaUA&callback=initMap&libraries=places', async='', defer='')
