extends layout

block content
    .login-form
        form(action='/users/login', method='post')
            h2.text-center Log in
            .form-group
                input.form-control(type='text', name='email', placeholder='Email', class = erroEmail ? "is-invalid" : "", value = email)
                if erroEmail
                    .invalid-feedback
                        p #{erroEmail}
            .form-group
                input.form-control(type='password', name='senha', class = erroSenha ? "is-invalid" : "", placeholder='Senha')
                if erroSenha
                    .invalid-feedback
                        p #{erroSenha}
            .form-group
                button.btn.btn-primary.btn-block(type='submit') Log in
